@mixin text($color, $font-size, $font-weight, $line-height, $letter-spacing) {
    color: $color;
    font-size: #{$font-size}px;
    font-weight: $font-weight;
    line-height: #{$line-height}px;
    letter-spacing: #{$letter-spacing}px;
}

@mixin border($border-radius, $box-shadow...) {
    box-shadow: $box-shadow;
    border-radius: #{$border-radius}px;
}
