@mixin text($color, $font-size, $font-weight, $line-height, $letter-spacing) {
    color: $color;
    font-size: #{$font-size}px;
    font-weight: $font-weight;
    line-height: #{$line-height}px;
    letter-spacing: #{$letter-spacing}px;
}

@mixin border-block($border-radius) {
    box-shadow:
        0px 2px 3px 0px rgba(0, 0, 0, 0.03),
        0px 0px 0px 0.5px rgba(151, 151, 151, 0.3);

    display: inline-flex;
    align-items: center;
    border-radius: #{$border-radius}px;
}
