@mixin text($color) {
    color: $color;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.1px;
}

@mixin border-block {
    box-shadow:
        0px 2px 3px 0px rgba(0, 0, 0, 0.03),
        0px 0px 0px 0.5px rgba(151, 151, 151, 0.3);

    display: inline-flex;
    align-items: center;
    border-radius: 16px;
}
