@import '/src/styles/variables';
@import '/src/styles/mixins';

.header {
    margin-top: 20px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .infoBlock {
        @include border(
            16,
            0px 2px 3px 0px rgba(0, 0, 0, 0.03),
            0px 0px 0px 0.5px rgba(151, 151, 151, 0.3)
        );
        display: inline-flex;
        align-items: center;
        padding: 0 8px 0 16px;
        height: 32px;
    }

    .trips,
    .country {
        @include text($c-black-primary, 15, 600, 32, -0.1);
        display: flex;

        &::after {
            content: '';
            display: inline-block;
            width: 0.5px;
            background-color: $c-white-1;
            margin: 0 20px;
        }
    }

    .country::after {
        margin-right: 0;
    }

    .createButton {
        @include border(
            16,
            0px 2px 3px 0px rgba(0, 0, 0, 0.03),
            0px 0px 0px 0.5px rgba(151, 151, 151, 0.3)
        );
        display: inline-flex;
        align-items: center;
        padding: 0px 12px 0px 8px;
        gap: 4px;
        height: 32px;
    }

    .textButton {
        @include text($c-black-primary, 15, 600, 32, -0.1);
    }
}
